body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: grey;
    height: 400px;
    background-color: #ba398e;
   
}

.nav-bar{

}

.nav-logo{

}

.nav-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.nav-text a{
    text-decoration: none;
    color: white;
}